
@font-face {
font-family: 'Starjedi';
font-style: normal;
font-weight: normal;
src: url('../Media/Starjedi.ttf');
}

h1{
	font-family:'Starjedi';
	font-size: 50px;
	color:#000000;
	text-shadow: -2px -2px 0 #FFE81F, 2px -2px 0 #FFE81F, -2px 2px 0 #FFE81F, 2px 2px 0 #FFE81F;
}